<app-navbar></app-navbar>
<main>
    <header>
        <h1>About us</h1>
    </header>
    <section class="intro">
        <h2>Welcome to Our website</h2>
        <p>The CTMPS allows users to search jobs for student and post jobs for companies, including registration, post jobs, and more.</p>
    </section>
    <section class="team">
        <h2>Our Team</h2>
        <div class="team-members">
            <img src="assests\images\teammebers.jpg" alt="Group Members">
        </div>
    </section>
    <button id="contactButton">Contact Us
    </button>
    <section id="contactDetails">
        <h2>Contact Details</h2>
        <p>Contact Number: 6304194553</p>
        <p>Email: harshithapoojari123gmail.com</p>
        <p>Name: P.Harshitha</p>
        <br>
        <p>Contact Number: 8639858572</p>
        <p>Email: vasubalagam43gmail.com</p>
        <p>Name: B.Vasu</p>
        <br>
        <p>Contact Number: 9391541906</p>
        <p>Email: mbmandalapu200217gmail.com</p>
        <p>Name: M.Mahesh Babu</p>
        <br>
        <p>Contact Number: 9515091056</p>
        <p>Email: srujanachintha28gmail.com</p>
        <p>Name: CH.Srujana</p>
        <br>
        <p>Contact Number: 7780732673</p>
        <p>Email: avarshita2004gmail.com</p>
        <p>Name: A.Varshitha</p>
        <br>
    </section>
    <section class="mission">
        <h2>Our Mission</h2>
        <p>The main aim of the CTMPS website is to search jobs for student and post jobs for companies</p>
    </section>
</main>
<app-footer></app-footer>

