<div class="container">
  
  <br>
  <br>
  <h1>Campus Drive Registrations</h1>
  <div>
    <canvas id="campusPieChart"></canvas>
  </div>
  <div>
    <canvas id="streamBarChart" width="400" height="200"></canvas>
  </div>
  <button (click)="downloadExcel()" class="btn btn-primary">Download Excel</button>
  <canvas id="campusPieChart" width="400" height="400"></canvas>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Reg. Number</th>
        <th>Email</th>
        <th>Stream</th>
        <th>Mobile</th>
        <th>Vizianagaram</th>
        <th>Bhubaneswar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reg of registrations">
        <td>{{ reg.name }}</td>
        <td>{{ reg.regNumber }}</td>
        <td>{{ reg.email }}</td>
        <td>{{ reg.stream }}</td>
        <td>{{ reg.mobile }}</td>
        <td>{{ reg.campuses?.vizianagaram ? 'Yes' : 'No' }}</td>
        <td>{{ reg.campuses?.bhubaneswar ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </table>
</div>
