<div>
    <app-topnav></app-topnav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>Your generated Cv as pdf</h2>

    <p><strong>Name:</strong>{{cv.name}}</p>
    <p><strong>Email:</strong>{{cv.email}}</p>
    <p><strong>Phone:</strong>{{cv.phone}}</p>
    <p><strong>Adress:</strong>{{cv.address}}</p>
    <p><strong>Education:</strong>{{cv.education}}</p>
    <p><strong>Experience:</strong>{{cv.experience}}</p>
    <p><strong>Skills:</strong>{{cv.skills}}</p>
    <p><strong>Summary:</strong>{{cv.summary}}</p>
    <p><strong>Languages:</strong>{{cv.languages}}</p>
    <button (click)="downloadPDF()">Download PDF</button>
    <button (click)="shareWhatsApp()">Share on WhatsApp</button>
    <button (click)="shareGmail()">Share via Gmail</button>
    <button (click)="copyLink()">Copy Link Address</button>
  </div>
  