<app-navbar></app-navbar>

<!-- Hero Section -->
<div class="hero-section">
  <h1>Comprehensive and effective Placement Portal</h1>
  <p>Where the appropriate set of opportunities meet the best collection of skills.</p>
  <button class="contact-btn" (click)="contactUs()">Contact Us For More</button>
</div>

<div class="header">
  <div class="header-item">
    <span>45000+</span>
    <span>Students</span>
  </div>
  <div class="header-item">
    <span>312+</span>
    <span>Programs</span>
  </div>
  <div class="header-item">
    <span>11280+</span>
    <span>Recruiters</span>
  </div>
</div>

<app-placed-students></app-placed-students>

<style>
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header-item {
    text-align: center;
    margin: 10px;
  }
  .content-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .content {
    flex: 1;
    margin: 10px;
    max-width: 30%;
  }
  .image-button img {
    width: 100%;
    height: auto;
  }
</style>
<app-footer></app-footer>